/*body {
    background-color : cyan;
}*/
.field-validation-error {
    color: red;
}
.field-validation-valid {
    display: none;
}
.field-validation-error {
    border : 1px solid red;
    background-color : #ffeeee;
}
..validation-summery-errors {
    font-weight : bold;
    color : red;
}