@{
    ViewBag.Title = "Admin Posts";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Posts</title>
</head>
<body>
    <div>
        <h1>Admin Posts</h1>
    </div>
</body>
</html>
